@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --background-color-light: rgb(224, 221, 215);
    --text-color-light: #333333;
    --background-color-dark: #333333;
    --text-color-dark: #ffffff;
    --footer-background-light: rgb(224, 221, 215);
    --footer-background-dark: #333333;
    --gray-light:#bebebe;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: var(--text-color-light);
    background-color: var(--background-color-light);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

body.light-mode {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
}

body.dark-mode {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

.container {
    width: 90%;
    margin: auto;
    padding: 2em 0;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 100%;
    }
}

.post {
    background: #fff;
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 5px;
}

.post img {
    max-width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}

.post-date {
    color: #888;
    font-size: 0.9em;
    margin-top: 5px;
}

.post h2 {
    font-size: 1.5em;
    color: #333;
    margin: 10px 0;
}

.post p {
    color: #666;
    margin-bottom: 20px;
}

.read-more {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 2px;
    font-weight: bold;
}



.category-card {
    margin-bottom: 20px;
    text-align: center;
    /* Ajouter un padding pour de l'espace autour du contenu */
    padding: 15px;
    /* Optionnel: Ajouter un fond différent pour le mode sombre */
}

.category-card img {
    width: 500%; /* Force l'image à prendre toute la largeur de .category-card */
    height: 200px; /* Ajustez la hauteur comme souhaité */
    object-fit: cover; /* Cela permet de s'assurer que l'image couvre la zone définie */
    border-radius: 0.25rem; /* Les bords arrondis pour esthétique */
    margin-bottom: 15px; /* Un peu d'espace entre l'image et le texte */
}

/* Assurer que le texte est centré dans la carte */
.category-card h3,
.category-card p {
    margin: 10px 0;
    text-align: center; /* Cela centrera le texte horizontalement */
}
.category-card:hover {
    transform: translateY(-5px);
}

@media (max-width: 768px) {
    .main-nav {
        text-align: center;
    }

    .main-nav ul {
        display: block;
    }

    .main-nav li {
        display: block;
        margin: 5px 0;
    }
}

body.dark-mode header,
body.dark-mode .navbar-nav .nav-link {
    color: var(--text-color-dark);
}

body.dark-mode header {
    background-color: var(--background-color-dark);
}
.custom-container {
    position: relative; /* Assurez-vous que votre conteneur personnalisé est positionné relativement */
}
.carousel-indicators {
    text-align: center;
    position: absolute;
    bottom: -25px; /* Ajustez en fonction de la hauteur souhaitée sous les images du carrousel */
    left: 0;
    right: 0;
}    
.carousel-item .card {
    margin-bottom: 2rem; /* Ajustez cette valeur selon l'espace souhaité entre les images et les tirets */
}
.newsletter-section { /* Assurez-vous que la section Newsletter a cette classe ou modifiez selon votre HTML */
    padding-top: 2rem; /* Ajustez cette valeur selon l'espace souhaité entre les tirets et 'Newsletter' */
}
/* Light Mode */
body.light-mode .carousel-indicators li {
    background-color: #000; /* Noir pour le mode clair */
}

/* Dark Mode */
body.dark-mode .carousel-indicators li {
    background-color: #fff; /* Blanc pour le mode sombre */
}
/* Light Mode */
body.light-mode .carousel-control-next-icon {
    filter: invert(100%); /* Cela changera la flèche en noir */
}

/* Dark Mode */
body.dark-mode .carousel-control-next-icon {
    filter: invert(0%); /* Cela maintiendra la flèche en blanc */
}
.carousel-control-next {
    right: -25px; /* Réglez ce nombre pour pousser le contrôle plus à droite */
}
.carousel-control-prev {
    left: -25px; /* Réglez ce nombre pour pousser le contrôle plus à gauche */
}
.card {
    margin-right: 15px; /* Espace entre les cartes */
    min-width: 25%;
    border-radius: 5px;
}
#articleCarousel {
    margin-left: 15px; /* Ou la marge que vous souhaitez */
}

/* Pour un contrôle de couleur selon le thème */
body.light-mode .carousel-indicators li {
    background-color: #000;
}

body.light-mode .carousel-control-next-icon,
body.light-mode .carousel-control-prev-icon {
    filter: invert(1);
}
.custom-container .carousel {
    padding-left: 15px; /* Ajustez si nécessaire pour aligner le contenu */
}

.newsletter-section {
  background-color: #143487; /* Replace with your actual color */
  padding: 50px 0; /* Adjust the padding to suit your design */
  color: var(--text-color-dark); /* Adjust the text color to suit your design */
}

.newsletter-section .container {
  max-width: 1140px; /* Adjust the max-width to suit your design */
  margin: auto;
  padding: 0 15px;
}

.newsletter-section h2 {
  font-size: 2rem; /* Adjust the font-size to suit your design */
  margin-bottom: 15px;
}

.newsletter-section p {
  margin-bottom: 25px;
}

.newsletter-section .btn-newsletter {
  background-color: #ff0000; /* Replace with your actual button color */
  color: #fff; /* Text color for the button */
  border: none;
  padding: 10px 20px; /* Adjust the padding to suit your design */
  border-radius: 20px; /* Adjust the border-radius to suit your design */
  font-weight: bold;
  cursor: pointer;
}
.newsletter-section input[type="email"] {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc; /* Ou toute autre couleur de bordure souhaitée */
  border-radius: 20px; /* Ajustez selon le rayon de bordure que vous souhaitez */
  outline: none; /* Supprime l'outline par défaut sur le focus */
}
.newsletter-section input[type="email"]:focus,.newsletter-section .btn-newsletter:focus,.newsletter-section .btn-newsletter:active,
.newsletter-section input[type="email"]:active {
    outline: none;  /* Removes the outline on focus */
    box-shadow: none;  /* Removes any shadow on focus */
}
.newsletter-section .checkbox {
  margin-top: 10px; /* Adjust the margin to suit your design */
}

.newsletter-section input[type="checkbox"] {
  margin-right: 5px;
}

.newsletter-section label {
  font-size: 0.9rem; /* Adjust the font-size to suit your design */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .newsletter-section .container {
    padding: 0 30px;
  }

  .newsletter-section h2 {
    font-size: 1.75rem; /* Adjust the font-size to suit your design */
  }

  .newsletter-section p {
    font-size: 1rem; /* Adjust the font-size to suit your design */
  }
}

/* Styles for breadcrumb */
.breadcrumb {
    background: transparent;
    padding: 0;
    margin-bottom: 0.5rem;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">>";
    padding: 0 0.5rem;
    color: #6c757d;
}

.breadcrumb-item a {
    color: #0275d8; /* Or your preferred color */
    text-decoration: none;
}

.breadcrumb-item a:hover {
    text-decoration: underline;
}

/* Styles for the page title and description */
h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
}

p {
    font-size: 1.2rem;
    color: #7e7e7e;
}

.custom-select-wrapper {
    position: relative;
    user-select: none;
}

.custom-select-trigger {
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #fff;
    width: 20%; /* Adjust width as needed */
    box-sizing: border-box;
    border-radius: 0.8rem;
    display: block;
    position: relative;
    z-index: 2; /* Stays on top of other elements */
    transition: all 0.3s ease; /* Smooth transition for hover effects, etc. */
}

.custom-options {
    border: 1px solid #ccc;
    display: grid; /* Maintain the grid display */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 0.6rem;
    column-gap: 10px;
    position: absolute;
    top: 120%; /* Positioned just below the trigger */
    left: 0;
    width: 20%; /* Match the trigger width if necessary */
    background: white;
    border-radius: 0.9rem;
    overflow-y: hidden;
    max-height: 0; /* Start with max-height at 0 for the collapsing effect */
    transform-origin: top;
    transform: scaleY(0); /* Start scaled down */
    visibility: hidden; /* Start hidden */
    padding: 0.5rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: transform 0.3s ease-in-out, max-height 0.3s ease-in-out, visibility 0.3s ease-in-out,color .3s ease;; /* Smooth transitions */
    z-index: 1;
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--gray-light);
}
.custom-option-all {
    grid-column: 1 / -1; /* Makes 'All' span all columns */
    margin-bottom: 1rem; /* Adjust this value to increase the gap */
}
.custom-select-trigger i {
    position: absolute;
    right: 10px;
    top: 35%;
}
.custom-options.show {
    max-height: 500px; /* Enough height to show all options */
    transform: scaleY(1); /* Scale to full size */
    visibility: visible; /* Make visible */
    overflow-y: auto; /* Allow scrolling */
}


.custom-option:hover {
    font-weight: bold; /* Make text bold on hover */
    color: #495057; /* Change text color on hover if needed */
}
.custom-select-trigger:focus + .custom-options,
.custom-select-trigger:active + .custom-options,
.custom-options.show {
    transform: scaleY(1); /* Scale to show the content */
    visibility: visible; /* Make the dropdown visible */
    max-height: 500px; /* Provide enough space for the content */
    transition: transform 0.2s ease-in-out, visibility 0.2s ease-in-out; /* Quicker transition for visibility */

}
.container.mt-4 {
  padding: 2px; /* Adjust padding as needed */
}
/* Adjust the overall grid layout */
.articles-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin: auto;
    max-width: 1200px;
    padding: 0 15px;
}

.card {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;

}
.article-link {
    text-decoration: none; /* Removes underline from all text */
    color: inherit; /* Text color will be inherited from parent element */
}
.article-link:hover, .article-link:visited, .article-link:link, .article-link:active {
    text-decoration: none; /* Removes underline from all text on different link states */
    color: inherit; /* Maintains the text color consistent on different link states */
}
.article-link .card-footer .badge {
    background-color: inherit; /* It will take the color from the inline style */
    color: #fff; /* Text color white */
    /* Additional styles as needed */
}

.card-img-top {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border: 5px solid #fff; /* Add white border */
    border-radius: 15px; /* Maintain border radius */
}


.card-body {
  flex: 1; /* Forces the card body to fill the available space, pushing the footer to the bottom */
  padding: 15px; /* Adjust padding as needed */
}

.card-date-author {
  display: flex;
  justify-content: space-between; /* Aligns the date and author on the same line */
  margin-bottom: 10px; /* Space between date/author and title */
}

.card-date-author small {
  font-size: 0.75rem;
  color: #6c757d;
}

.card-title {
  font-size: 1rem; /* Example font size */
  line-height: 1.2; /* Example line height */
  max-height: 2.4rem; /* Example: 2 lines of text, adjust as needed */
  overflow: hidden; /* Hides any content that overflows the element's box */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines you want to display */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis; /* Adds an ellipsis to any overflow text */
}


.card-footer {
  padding: 10px 15px;
  background-color: #fff;
  display: flex;
  justify-content: end; /* Positions the tag at the end */
  align-items: center;
  border-top: none;
}

.badge {
  background-color: #007bff;
  color: #fff; /* Sets the text color to white */
  padding: 5px 15px;
  border-radius: 15px;
  font-size: 0.75rem;
  text-transform: uppercase;
}


/* Adjustments for responsive layout */
@media (min-width: 1200px) {
    .row {
        grid-template-columns: repeat(4, 1fr); /* 4 columns for large screens */
    }
}

@media (max-width: 1199px) {
    .row {
        grid-template-columns: repeat(3, 1fr); /* 3 columns for medium screens */
    }
}

@media (max-width: 768px) {
    .row {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for small screens */
    }
}

@media (max-width: 576px) {
    .row {
        grid-template-columns: 1fr; /* 1 column for extra small screens */
    }
}
/*fin summury artcile*/
/* Article page*/

.article-page .breadcrumb {
    background: none;
    padding-left: 0;
}

.article-page .breadcrumb-item a {
    color: #007bff;
}

.article-page .breadcrumb-item.active {
    color: #6c757d;
}

.article-title {
    font-size: 2rem;
    color: #333;
    margin-top: 1rem;
}

.article-meta {
    font-size: 0.9rem;
    color: #6c757d;
    margin-bottom: 2rem;
}

.article-image-container {
    margin-bottom: 2rem; /* Adds space between the image and the article text */
}

.article-image {
    max-width: 66.5%; /* Image takes full width of its container */
    /*height: 30em; /* Maintain aspect ratio */
    border-radius: 8px; /* Rounded corners for the image */
}

.article-subtitle {
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 1rem;
}

.article-content {
    font-size: 1rem;
    line-height: 1.6;
    color: #333; /* Adjust the text color as needed */
}

.related-container {
  padding: 2px; /* Adjust padding as needed */
}

.related-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.related-col {
  flex: 1;
  max-width: 250px; /* Set maximum width for smaller cards */
}

.related-card {
  border-radius: 15px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.related-img-top {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border: 5px solid #fff; /* Add white border */
    border-radius: 15px; /* Maintain border radius */
}

.related-article-link {
  color: inherit;
  text-decoration: none;
}

.related-article-link:hover {
  text-decoration: none;
}

.related-card-body {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.related-date-author {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.related-title {
    font-size: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; /* Changed from nowrap to normal to allow wrapping */
    margin: 0; /* Adjust as needed */
    line-height: 1.2; /* Adjust line height to control the spacing between lines */
    height: 2.4em; /* Height should be line-height multiplied by the number of lines */
}
.related-articles-container {
    margin-top: 5em; /* Adjust the value to your preference */
    width: 66.5%;
}
.related-title:hover,
.related-title:active,
.related-title:focus,
.related-title:visited {
    text-decoration: none; /* Ensures no underline appears on hover */
    color: inherit; /* The color will remain the same as it's inherited from the parent */
}
.custom-container-padding {
    padding-left: 80px; /* Adds 50px padding to the left */
}
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.pagination li {
    margin: 0 5px;
    position: relative; /* Ensure stacking context for z-index */
}


.pagination li.active a,
.pagination li.active span {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.pagination li a:hover:not(.active),
.pagination li span:hover:not(.active) {
    background-color: #e9ecef;
    border-color: #ddd;
}

.pagination .disabled a,
.pagination .disabled span {
    color: #6c757d;
    background-color: #fff;
    border-color: #ddd;
    cursor: not-allowed;
}

/* Remove white rectangle if caused by an extra element */
.pagination .extra-element {
    display: none; /* Hide the extra element */
}
.pagination li a,
.pagination li span {
    color: #007bff;
    text-decoration: none;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 38px;
}


.most_viewed_article-container {
  padding: 2px; /* Adjust padding as needed */
}

.most_viewed_article-row {
  display: flex;
  flex-direction: column;
}

.most_viewed_article-col {
  display: flex;
  max-width: 80%; /* Changed to take the full width of the sidebar */
  align-items: center; /* Aligns items vertically center */
}

.most_viewed_article-card {
  display: flex;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.most_viewed_article-img-top {
  width: 15%; /* Image takes up 30% of the card width */
  height: auto;
  object-fit: cover;
  border: 3px solid #fff;
  border-radius: 15px; /* Rounded corners on the left side */
}

.most_viewed_article-article-link {
  display: flex;
  color: inherit;
  text-decoration: none;
}

.most_viewed_article-card-body {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers content vertically */
  width: 50%; /* Content takes the remaining 70% of the card width */
}

.most_viewed_article-title {
    font-size: 1rem;
    line-height: 1.2;
    height: 2.4em; /* Adjust height to fit two lines of text */
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    margin: 0;
}
.content-area {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.article-content-wrapper {
    width: 100%; /* Adjust the width as necessary */
}

.sidebar {
    flex-basis: 100%;
}