@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Variables */
:root {
    --background-color-light: rgb(249, 249, 249);
    --text-color-light: #333333;
    --text-color-light-bis: #003300;
    --background-color-dark: #333333;
    --text-color-dark: #ffffff;
    --footer-background-light: rgb(249, 249, 249);
    --footer-background-dark: #333333;
    --gray-light: #bebebe;
    --border-radius: 10px;
    --transition-duration: 0.3s;
    --spacing: 1rem;
    --large-spacing: 2rem;
    --xx-large-spacing: 5rem;
}

/* Global Styles */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Unica, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, FZLanTingHeiS, sans-serif;
    line-height: 1.6;
    color: var(--text-color-light);
    background-color: var(--background-color-light);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1 0 auto;
}

.container {
    margin-top: 5px;
    width: 90%;
}

/* Index */
/* Carousel Styles */

.index-carousel-wrapper {
    padding: var(--spacing) 0;
    margin-bottom: var(--xx-large-spacing);
}

.index-gallery-cell {
    width: 90%;
    max-height: 40rem;
    margin-right: var(--spacing);
    position: relative;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.index-gallery-cell img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.index-gallery-author,
.index-gallery-title {
    position: absolute;
    color: #ffffff;
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: var(--border-radius);
}

.index-gallery-author {
    top: 0.5rem;
    left: 0.5rem;
}

.index-gallery-title {
    bottom: 0.5rem;
    left: 0.5rem;
    font-size: 1.5rem;
}

/* Category Section */

.index-category-section {
    margin-bottom: var(--xx-large-spacing);
    padding-bottom: var(--spacing);
}

.index-category-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--spacing);
}

.index-category-title {
    font-size: 2rem;
    font-family: Söhne, sans-serif;
    margin: 0;
    flex-grow: 1;
}

.index-category-content {
    margin-top: var(--spacing);
}

.index-articles {
    display: flex;
    gap: var(--spacing);
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
}

.index-articles::-webkit-scrollbar {
    display: none;
}

.index-article-card {
    position: relative;
    flex: 0 0 auto;
    width: 18.75rem; /* 300px */
    height: 25rem; /* 400px */
    border-radius: var(--border-radius);
    overflow: hidden;
    transition: transform var(--transition-duration) ease, box-shadow var(--transition-duration) ease;
}

.index-article-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.index-article-author,
.index-article-title {
    position: absolute;
    color: #ffffff;
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: var(--border-radius);
}

.index-article-author {
    top: 0.5rem;
    left: 0.5rem;
}

.index-article-title {
    bottom: 0.5rem;
    left: 0.5rem;
    font-size: 1.5rem;
}

/* Arrows */

.index-arrows {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.index-arrow-btn {
    cursor: pointer;
    color: black;
    font-size: 1.5rem;
    padding: 0.5rem;
    user-select: none;
    transition: transform var(--transition-duration) ease;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.25rem;
    width: 2.25rem;
    background: none;
    border: none;
}

.index-arrow-btn.index-left svg {
    transform: rotate(90deg); /* Rotate left arrow correctly */
}

.index-arrow-btn.index-right svg {
    transform: rotate(-90deg); /* Rotate right arrow correctly */
}

.index-arrow-btn.index-left:hover {
    transform: translateX(-0.3125rem); /* -5px */
}

.index-arrow-btn.index-right:hover {
    transform: translateX(0.3125rem); /* 5px */
}

.index-arrow-btn svg {
    width: 0.875rem;
    height: auto;
}

.index-arrow-btn:focus,
.index-arrow-btn:active {
    outline: none;
    border: none;
}
@media (max-width: 500px) {
    .index-carousel-wrapper {
        margin-bottom: 4rem;
    }
    .index-article-card {
        width: 13rem; /* 240px */
        height: 17rem; /* 320px */
    }
}
/* Responsive Container */
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 100%;
    }
}

/* Category Card */

.category-card {
    margin-bottom: 20px;
    text-align: center;
    padding: 15px;
}

.category-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 0.25rem;
    margin-bottom: 15px;
}

.category-card h3, .category-card p {
    margin: 10px 0;
    text-align: center;
}

.category-card:hover {
    transform: translateY(-5px);
}

/* Responsive Navigation */
@media (max-width: 768px) {
    .main-nav {
        text-align: center;
    }

    .main-nav ul {
        display: block;
    }

    .main-nav li {
        display: block;
        margin: 5px 0;
    }
}


/* Carousel Styles */

.custom-container {
    position: relative;
}

.carousel-indicators {
    text-align: center;
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
}

.carousel-item .card {
    margin-bottom: 2rem;
}

/* Light Mode Carousel */

body.light-mode .carousel-indicators li {
    background-color: #000;
}

body.light-mode .carousel-control-next-icon {
    filter: invert(100%);
}
/* Page Title and Description */

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
}

p {
    font-size: 1.2rem;
    color: #7e7e7e;
}

/* Custom Select */

.custom-select-wrapper {
    position: relative;
    user-select: none;
}

.custom-select-trigger {
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #fff;
    width: 20%;
    box-sizing: border-box;
    border-radius: 0.8rem;
    display: block;
    position: relative;
    z-index: 2;
    transition: all 0.3s ease;
}

.custom-options {
    border: 1px solid #ccc;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 0.6rem;
    column-gap: 10px;
    position: absolute;
    top: 120%;
    left: 0;
    width: 20%;
    background: white;
    border-radius: 0.9rem;
    overflow-y: hidden;
    max-height: 0;
    transform-origin: top;
    transform: scaleY(0);
    visibility: hidden;
    padding: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, max-height 0.3s ease-in-out, visibility 0.3s ease-in-out, color 0.3s ease;
    z-index: 1;
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--gray-light);
}

.custom-option-all {
    grid-column: 1 / -1;
    margin-bottom: 1rem;
}

.custom-select-trigger i {
    position: absolute;
    right: 10px;
    top: 35%;
}

.custom-options.show {
    max-height: 500px;
    transform: scaleY(1);
    visibility: visible;
    overflow-y: auto;
}

.custom-option:hover {
    font-weight: bold;
    color: #495057;
}

.custom-select-trigger:focus + .custom-options,
.custom-select-trigger:active + .custom-options,
.custom-options.show {
    transform: scaleY(1);
    visibility: visible;
    max-height: 500px;
    transition: transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.container.mt-4 {
    padding: 2px;
}

/* Articles Container */

.articles-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin: auto;
    max-width: 1200px;
    padding: 0 15px;
}

.card {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.article-link {
    text-decoration: none;
    color: inherit;
}

.article-link:hover, .article-link:visited, .article-link:link, .article-link:active {
    text-decoration: none;
    color: inherit;
}

.article-link .card-footer .badge {
    background-color: inherit;
    color: #fff;
}

.card-img-top {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border: 5px solid #fff;
    border-radius: 15px;
}

.card-body {
    flex: 1;
    padding: 15px;
}

.card-date-author {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.card-date-author small {
    font-size: 0.75rem;
    color: #6c757d;
}

.card-title {
    font-size: 1rem;
    line-height: 1.2;
    max-height: 2.4rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.card-footer {
    padding: 10px 15px;
    background-color: #fff;
    display: flex;
    justify-content: end;
    align-items: center;
    border-top: none;
}

.badge {
    background-color: var(--text-color-light);
    color: #fff;
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 0.75rem;
    text-transform: uppercase;
}

/* Responsive Grid Layout */
@media (min-width: 1200px) {
    .row {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1199px) {
    .row {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .row {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .row {
        grid-template-columns: 1fr;
    }
}

/* Article Page */

.article-page .breadcrumb {
    background: none;
    padding-left: 0;
}

.article-page .breadcrumb-item a {
    color: #007bff;
}

.article-page .breadcrumb-item.active {
    color: #6c757d;
}

.article-header {
    text-align: center;
    max-width: 950px;
    margin: 0 auto;
    padding: 40px 20px;
}

.article-title {
    font-size: 6rem;
    margin-bottom: 90px;
    line-height: 1.2;
    font-family: Unica, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, FZLanTingHeiS, sans-serif;
    font-weight: 400;
}

.article-subtitle {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 30px;
}

.article-meta {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 30px;
}

.article-author, .article-date, .article-reading-time {
    font-size: 0.9rem;
    color: #666;
}

.article-image-container {
    margin-bottom: 2rem;
}

.article-image {
    max-width: 66.5%;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}

.article-content {
    max-width: 950px;
    margin: 0 auto;
    padding: 20px;
    font-size: 1.1rem;
    line-height: 1.8;
    text-align: justify;
}

.article-content p {
    margin-bottom: 20px;
}

.article-content ol {
    margin-left: 20px;
    margin-bottom: 30px;
}

.article-content li {
    margin-bottom: 15px;
}

.article-content a {
    color: #0066cc;
    text-decoration: none;
}

.article-content a:hover {
    text-decoration: underline;
}

/* Related Articles */

.related-container {
    padding: 2px;
}

.related-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.related-col {
    flex: 1;
    max-width: 250px;
}

.related-card {
    border-radius: 15px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.related-img-top {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border: 5px solid #fff;
    border-radius: 15px;
}

.related-article-link {
    color: inherit;
    text-decoration: none;
}

.related-article-link:hover {
    text-decoration: none;
}

.related-card-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.related-date-author {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.related-title {
    font-size: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    margin: 0;
    line-height: 1.2;
    height: 2.4em;
}

.related-articles-container {
    margin-top: 5em;
    width: 66.5%;
}

.related-title:hover, .related-title:active, .related-title:focus, .related-title:visited {
    text-decoration: none;
    color: inherit;
}

.custom-container-padding {
    padding-left: 80px;
}

/* Pagination */

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.pagination li {
    margin: 0 5px;
    position: relative;
    color: var(--text-color-light-bis);
}

.pagination li.active a, .pagination li.active span {
    color: #fff;
    background-color: var(--text-color-light-bis);
}

.pagination li a:hover:not(.active), .pagination li span:hover:not(.active) {
    background-color: var(--text-color-light-bis);
    border: none;
}

.page-item.active .page-link {
    background-color: var(--text-color-light-bis);
    color: white;
    border: none;
}

.pagination .disabled a, .pagination .disabled span {
    color: #6c757d;
    background-color: #fff;
    border-color: #ddd;
    cursor: not-allowed;
}

.pagination .extra-element {
    display: none;
}

.pagination li a, .pagination li span {
    color: var(--text-color-light);
    text-decoration: none;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 38px;
}

/* Content Area */

.content-area {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.article-content-wrapper {
    width: 100%;
}

.buy-me-a-coffee-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

/* Subscription Form */

.subscription-form {
    margin-bottom: 30px;
}

.subscription-form input[type="email"] {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 300px;
}

.subscription-form input[type="email"]:focus, .subscription-form input[type="email"]:active {
    outline: none;
    box-shadow: none;
}

.subscription-form button {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.subscription-form button:focus {
    outline: none;
    box-shadow: none;
}

/* Share Container */

.share-container {
    text-align: center;
    margin-bottom: 40px;
}

.share-container h2 {
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 20px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.share-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.share-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    border: 1px solid #000;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s;
}

.share-button:hover {
    background-color: #000;
    color: #fff;
}

.share-button svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.share-link {
    margin-left: 15px;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.share-link:hover {
    background-color: #333;
}

/* Horizontal Line */

.horizontal-line {
    border-top: 0.5px solid #333;
    margin-bottom: 20px;
}

/* Article Content Section */

.article-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.article-content section.article-content {
    position: relative;
    padding: 0 40px;
    font-size: 1.1rem;
    line-height: 1.8;
    text-align: justify;
}

.article-content section.article-content::before,
.article-content section.article-content::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0.5px;
    background-color: #333;
}

.article-content section.article-content::before {
    left: 0;
}

.article-content section.article-content::after {
    right: 0;
}

.article-content section.article-content p {
    margin-bottom: 20px;
}

/* Responsive Adjustments for Article Content */
@media (max-width: 768px) {
    .article-content section.article-content {
        padding: 0 20px;
    }

    .article-content section.article-content::before,
    .article-content section.article-content::after {
        display: none;
    }
}

/* Popup Notification */

.popup {
    visibility: hidden;
    min-width: 250px;
    color: white;
    text-align: center;
    border-radius: 8px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid;
    transition: visibility 0s, opacity 0.5s linear;
    opacity: 0;
}

.popup.success {
    border-color: #4CAF50;
    color: #ffffff;
    background-color: #4CAF50;
}

.popup.error {
    border-color: #f44336;
    color: #333;
    background-color: #f44336;
}

.popup.show {
    visibility: visible;
    opacity: 1;
}

/* Newsletter Subscription */

.newsletter-container {
    margin: 40px auto;
    padding: 20px;
    position: relative;
    z-index: 1;
    color: var(--text-color-light-bis);
}

.newsletter-heading { /* New styles for the Newsletter heading */
    font-size: 120px;
    font-family: PitchSans, "system-ui", "Segoe UI", "Helvetica Neue", Arial, FZLanTingHeiS, sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.newsletter-container::before,
.newsletter-container::after {
    content: '';
    position: absolute;
    pointer-events: none;
}

.newsletter-container::before {
    top: 20px;
    bottom: 20px;
    left: 0;
    right: 0;
    border-left: 0.5px solid #333;
    border-right: 0.5px solid #333;
}

.newsletter-container::after {
    left: 20px;
    right: 20px;
    top: 0;
    bottom: 0;
    border-top: 0.5px solid #333;
    border-bottom: 0.5px solid #333;
}

.newsletter-header {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-family: PitchSans, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, FZLanTingHeiS, sans-serif;
}

.newsletter-title {
    font-size: 3rem;
    font-family: Rosart, Georgia, Times New Roman, FZNewBaoSong, serif;
    text-align: center;
    margin-bottom: 20px;
}

.newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.newsletter-input {
    width: 60%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
}

.newsletter-submit {
    background-color: var(--text-color-light-bis);
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}

/* Contact Form */

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-main-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; /* Ensure the container takes full height */
    padding-bottom: 30px;
}

.contact-container {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 400px;
    max-width: 100%;
}

.contact-form {
    padding: 30px;
}

.contact-form h2 {
    margin-bottom: 15px;
    font-size: 24px;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.input-group input, .input-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    color: #333;
}

.input-group input:focus, .input-group textarea:focus {
    border-color: var(--primary-color);
    outline: none;
}

button {
    display: inline-block;
    background-color: #003300;
    color: var(--background-color-light);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

/* Login Form */

.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 50px;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-container h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.login-container label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
}

.login-container input[type="text"], .login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: var(--text-color-light-bis);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
