/* Header Styles */
header {
    background: var(--background-color-light);
    color: var(--text-color-light-bis);
}
header, .navbar {
    margin-top: 0 !important; /* !important to ensure override */
    padding-top: 0 !important; /* Also ensure no padding is causing the issue */
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    text-decoration: none;
    color: var(--text-color-light-bis);
    font-weight: 700;
    font-size: 2rem;
}
.nav-link {
    color: var(--text-color-light); /* or use a specific color */
    background-color: transparent; /* Ensures no background color change */
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none; /* No underline by default */
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar-brand,
.nav-link {
    color: var(--text-color-light-bis);
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
}

.navbar-light .navbar-brand {
    color: #003300;
    font-weight: bold;
    font-size: 1.5rem;
}
.nav-link:not(:hover) {
    text-decoration: none; /* Ensure no underline when not hovered */
    color: var(--text-color-light-bis); /* Ensure consistent color */
}
.nav-link:active,
.nav-link:focus,
.nav-link.active {
    color: var(--text-color-light); /* Use the same color as your normal state */
    background-color: transparent; /* No background color */
}

/* Dark mode adjustments */
body.dark-mode header {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

body.dark-mode .navbar-brand {
    color: var(--text-color-dark);
}

/* Media queries for container padding */
@media (min-width: 576px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (min-width: 768px) {
    .container {
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media (min-width: 992px) {
    .container {
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media (min-width: 1200px) {
    .container {
        padding-right: 30px;
        padding-left: 30px;
    }
}
/* Theme toggle button and icons */
#theme-toggle {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    margin-left: 20px;
}
#theme-toggle:focus,
#theme-toggle:active {
    outline: none;  /* Removes the outline on focus */
    box-shadow: none;  /* Removes any shadow on focus */
    border: none;  /* Ensures no border is visible on click */
}

/* Initially, hide the sun icon since light mode is the default */
.fa-sun {
    display: none;
}

/* No need to hide the moon icon because it should show by default */
.fa-moon {
    display: inline;
    color: var(--background-color-dark); /* Example color for the moon icon */
}

/* When the body has the dark-mode class, we display the sun and hide the moon */
body.dark-mode .fa-moon {
    display: none;
}

body.dark-mode .fa-sun {
    display: inline;
    color: var(--background-color-light); /* Example color for the sun icon */
}
.search-results {
    background-color: white;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.search-result-item {
    padding: 10px;
}

.search-result-item a {
    text-decoration: none;
    color: black;
}

.search-result-item a:hover {
    background-color: #f0f0f0;
}
