/* Ajout des polices Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background: rgb(238, 237, 235);
}
.header-logo {
    text-decoration: none; /* Empêche le soulignement */
    color: #333; /* Couleur du texte */
    /* autres styles que vous souhaitez appliquer */
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background: rgb(238, 237, 235);
    color: #333;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    font-family: 'Acumin Pro', sans-serif; /* Acumin Pro pour le titre si vous l'avez chargé */
}

header .main-nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

header .main-nav li:not(:last-child) {
    margin-right: 20px;
}

header .main-nav a, header .social-media a {
    text-decoration: none;
    color: #333;
    text-transform: uppercase;
    font-size: 16px;
}

/* Effet de soulignement au survol pour les liens de la navigation */
header .main-nav a:hover {
    text-decoration: underline;
}


.site-footer {
    background: #eee; /* Adjust the color to match the image */
    padding: 40px 0; /* Adjust padding to match the layout in the image */
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.footer-content h2 {
    margin-bottom: 10px; /* Adjust as needed */
}

.footer-content p {
    margin-bottom: 20px; /* Adjust as needed */
}

.subscription-form {
    margin-bottom: 20px; /* Adjust as needed */
}

.subscription-form input[type="email"] {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc; /* Adjust as needed */
    border-radius: 2px; /* Adjust as needed */
}

.subscription-form button {
    padding: 10px 20px;
    background-color: #654321; /* Sample brown color; replace with actual color code */
    color: white;
    border: none;
    border-radius: 2px; /* Adjust as needed */
    cursor: pointer;
}

.subscription-form button:hover {
    background-color: #543210; /* Darker brown for hover effect; replace with actual color code */
}

.footer-nav {
    padding-top: 20px; /* Adjust as needed */
}

.footer-nav a {
    margin: 0 10px; /* Adjust as needed */
    color: #333;
    text-decoration: none;
}

.footer-nav a:hover {
    text-decoration: underline;
}

/* Responsive adjustments as necessary */
@media (max-width: 768px) {
    .footer-content {
        padding: 0 20px;
    }

    .footer-nav a {
        display: block;
        margin-bottom: 10px; /* Adjust as needed */
    }

    .subscription-form input[type="email"],
    .subscription-form button {
        width: 100%;
        margin: 10px 0; /* Adjust as needed */
    }
}
