/* Ajout des polices Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --background-color-light: rgb(238, 237, 235); /* Light mode background */
    --text-color-light: #333333; /* Light mode text */
    --background-color-dark: #333333; /* Dark mode background */
    --text-color-dark: #ffffff; /* Dark mode text */
    --footer-background-light: #eee; /* Light mode footer background */
    --footer-background-dark: #333; /* Dark mode footer background */
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for theme change */
}

/* Theme styles */
body.light-mode {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
}

body.dark-mode {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

/* Header styles */
.header-logo {
    text-decoration: none;
    color: var(--text-color-light);
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background: var(--background-color-light);
    color: var(--text-color-light);
    padding: 10px 0;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for theme change */
}

/* Header and links styling for dark mode */
body.dark-mode header {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

body.dark-mode .header-logo,
body.dark-mode header .main-nav a,
body.dark-mode header .social-media a {
    color: var(--text-color-dark);
}

/* Navigation styles */
header .main-nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

header .main-nav li:not(:last-child) {
    margin-right: 20px;
}

header .main-nav a {
    text-decoration: none;
    color: var(--text-color-light);
    text-transform: uppercase;
    font-size: 16px;
}

/* Hover effect for nav links */
header .main-nav a:hover {
    text-decoration: underline;
}

/* Footer styles */
.site-footer {
    background: var(--footer-background-light);
    padding: 40px 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s; /* Smooth transition for theme change */
}

/* Footer styling for dark mode */
body.dark-mode .site-footer {
    background: var(--footer-background-dark);
}

/* Footer content styles */
.footer-content h2 {
    margin-bottom: 10px;
}

.footer-content p {
    margin-bottom: 20px;
}

/* Subscription form styles */
.subscription-form {
    margin-bottom: 20px;
}

.subscription-form input[type="email"] {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.subscription-form button {
    padding: 10px 20px;
    background-color: #654321;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

/* Subscription form styling for dark mode */
body.dark-mode .subscription-form input[type="email"],
body.dark-mode .subscription-form button {
    border-color: var(--text-color-dark);
}

body.dark-mode .subscription-form button {
    background-color: #555;
}

/* Footer navigation styles */
.footer-nav {
    padding-top: 20px;
}

.footer-nav a {
    margin: 0 10px;
    color: var(--text-color-light);
    text-decoration: none;
}

.footer-nav a:hover {
    text-decoration: underline;
}

/* Footer links styling for dark mode */
body.dark-mode .footer-nav a {
    color: var(--text-color-dark);
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .footer-content {
        padding: 0 20px;
    }

    .footer-nav a {
        display: block;
        margin-bottom: 10px;
    }

    .subscription-form input[type="email"],
    .subscription-form button {
        width: 100%;
        margin: 10px 0;
    }
}
.post {
    background: #fff; /* Un fond blanc pour faire ressortir le post */
    padding: 20px; /* Ajout d'espace autour du contenu */
    margin-bottom: 40px; /* Espace entre les posts */
    box-shadow: 0 5px 15px rgba(0,0,0,0.1); /* Ombre subtile pour le relief */
    border-radius: 5px; /* Bords légèrement arrondis */
}

.post img {
    max-width: 100%; /* Permet à l'image de s'adapter à la largeur du conteneur */
    height: auto;
    border-radius: 5px 5px 0 0; /* Arrondir les coins supérieurs */
}

.post-date {
    color: #888;
    font-size: 0.9em;
    margin-top: 5px;
}

.post h2 {
    font-size: 1.5em; /* Taille de police plus grande pour le titre */
    color: #333;
    margin: 10px 0; /* Espace autour du titre */
}

.post p {
    color: #666;
    margin-bottom: 20px; /* Espace avant le bouton 'Lire plus' */
}

.read-more {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 2px; /* Bords arrondis pour le bouton */
    font-weight: bold; /* Texte en gras pour le bouton */
    transition: background-color 0.3s ease; /* Animation de fond au survol */
}

.read-more:hover {
    background-color: #555; /* Changement de couleur au survol */
}
